.hadding{
    width:60px;
    height:60px;
    border:1px solid black;
   
}
.hadding #image{
    width: 50px;
    height:50px;
}

.box1{
    width:300px;
    height: 250px;
    border: 1px solid green;
    overflow: hidden;
    padding-top:3px;
    margin-top: 10px;
    color:#aa1faf;
    border-radius: 10px 10px 50px 5px;
}
.box2{
    width:300px;
    height: 250px;
    border: 1px solid green;
    overflow: scroll;
    padding-top:3px;
    margin-top: 10px;
    color:#aa1faf;
    border-radius: 5px;
}
.box3{
    width:300px;
    height: 250px;
    border: 1px solid green;
    overflow: auto;
    padding-top:3px;
    margin-top: 10px;
    color:#aa1faf;
}
.box4{
    width:80%;
    height: 50px;
    border: 1px solid green;
    overflow:auto;
    margin-top: 10px;
    color:#aa1faf;
    box-sizing: border-box;
    padding: 5px;
    margin-left: 80px;
    font-size: 20px;
}