.box1{
    border: 1px solid rgb(216, 105, 105);
    background-color: antiquewhite;
    width: 100%;
    height:auto;
    

    
}
.box1 h1{
    border-bottom:2px double rgb(197, 170, 170);
    border-width: 20%;
}
.box1 #para{
    color:rgb(155, 187, 187);
    font-size: 20px;
}
.box2{
    border: 4px solid rgb(86, 13, 202);
    background-color: #cdd4a6;
    width: 100%;
    height:auto;
    margin-top: 10px;
    

    
}
.box2 h1{
    border-bottom:2px dotted rgb(197, 170, 170);
    border-width: 20%;
}
.box2 #para1{
    color:rgb(155, 187, 187);
    font-size: 20px;
}